/*
 *= require_tree .
 *= require_self
 *= require bootstrap
 */

.label a, .label a:visited, .label a:active {
  color: #FFF;
}

.label a:hover {
  color: #EEE;
}

.likes form {
  display: inline-block;
}

.likes .badge {
  font-size: .9em;
}
