<div class="likes">
  <span class="label label-primary"><%= pluralize(object.likes.count, "Like") %></span>
  <% if signed_in? %>
    <% if current_user.likes?(object) %>
      <%= button_to path, class: "btn btn-default btn-xs", method: :delete do %>
        Unlike <span class="glyphicon glyphicon-thumbs-down"></span>
      <% end %>
    <% else %>
      <%= button_to path, class: "btn btn-default btn-xs", method: :post do %>
        Like <span class="glyphicon glyphicon-thumbs-up"></span>
      <% end %>
    <% end %>
  <% end %>
</div>
