<% images.each_slice(4) do |row| %>
  <div class="row">
    <% row.each do |image| %>
      <div class="col-xs-6 col-sm-3">
        <%= link_to(image_tag(image.url), [image.gallery, image], class: "thumbnail") %>
      </div>
    <% end %>
  </div>
<% end %>
